body {
  margin: 0 auto;
  padding: 0 1em 240px;
  max-width: 960px;
  text-align: center;
}

h3.voting-results {
  display: none;
}

button.voting {
  margin: 12px;
}

.pure-img {
  display: inline;
}

#chat-room {
  margin-top: 25px;
  text-align: left;
  font-family: monospace;
}

.github-fork-ribbon {
  background-color: #333;
}
